n8n-workflow.json
{
  "name": "REAPA SEO Blog Auto-Publisher",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1,3,5"
            }
          ]
        },
        "timezone": "Europe/Malta"
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const topics = [\n  { topic: 'AML compliance Malta', keyword: 'AML compliance Malta real estate' },\n  { topic: 'Lead scoring AI for real estate', keyword: 'lead scoring AI real estate Malta' },\n  { topic: 'Malta real estate market 2026', keyword: 'Malta real estate market 2026' },\n  { topic: 'WhatsApp automation for real estate agents', keyword: 'WhatsApp automation real estate agents' },\n  { topic: 'Real estate productivity tools Malta', keyword: 'real estate productivity tools Malta' },\n  { topic: 'AI listing descriptions', keyword: 'AI listing descriptions real estate' },\n  { topic: 'Housing Authority compliance Malta', keyword: 'Housing Authority Malta compliance agent' },\n  { topic: 'CRM for solo agents Malta', keyword: 'CRM solo real estate agents Malta' },\n  { topic: 'Real estate follow-up automation', keyword: 'real estate follow-up automation Malta' },\n  { topic: 'PropTech Malta', keyword: 'PropTech Malta real estate technology' },\n  { topic: 'Real estate agent burnout solutions', keyword: 'real estate agent burnout automation' },\n  { topic: 'REAPA AI features', keyword: 'REAPA AI real estate Malta platform' }\n];\n\nconst now = new Date();\nconst startOfYear = new Date(now.getFullYear(), 0, 1);\nconst weekNumber = Math.floor((now - startOfYear) / (7 * 24 * 60 * 60 * 1000));\nconst selected = topics[weekNumber % topics.length];\n\nreturn [{ json: selected }];"
      },
      "id": "topic-rotator",
      "name": "Topic Rotator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-opus-4-5\",\n  \"max_tokens\": 4096,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Write a 1500-word SEO blog post in English for Malta real estate agents about: {{ $json.topic }}\\n\\nTarget keyword: {{ $json.keyword }}\\n\\nFormat as MDX with this exact frontmatter:\\n---\\ntitle: \\\"[compelling title with keyword]\\\"\\ndate: \\\"{{ $now.format('YYYY-MM-DD') }}\\\"\\ndescription: \\\"[150-160 char meta description with keyword]\\\"\\nkeyword: \\\"{{ $json.keyword }}\\\"\\ncategory: \\\"education\\\"\\nogImage: \\\"/og-default.jpg\\\"\\n---\\n\\nRequirements:\\n- Use H2 and H3 headings for structure\\n- Include practical, actionable advice specific to Malta\\n- Reference Maltese regulations, market conditions, or geography where relevant\\n- Include a CTA at the end: [Join the REAPA waitlist →](https://reapa-mvp.vercel.app)\\n- Write for an audience of professional real estate agents, not buyers\\n- Optimize for the target keyword naturally throughout\\n- Do not use placeholder text — write real, valuable content\"\n    }\n  ]\n}"
      },
      "id": "generate-blog-post",
      "name": "Generate Blog Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst mdxContent = response.content[0].text;\n\nconst titleMatch = mdxContent.match(/title:\\s*[\"'](.+?)[\"']/);\nconst title = titleMatch ? titleMatch[1] : 'New Blog Post';\n\nconst slug = title\n  .toLowerCase()\n  .replace(/[^a-z0-9\\s-]/g, '')\n  .replace(/\\s+/g, '-')\n  .replace(/-+/g, '-')\n  .slice(0, 60);\n\nconst base64Content = Buffer.from(mdxContent).toString('base64');\n\nreturn [{ json: { mdxContent, title, slug, base64Content } }];"
      },
      "id": "parse-and-encode",
      "name": "Parse & Encode",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/ArturHmet/reapa-mvp/contents/posts/{{ $json.slug }}.mdx",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.GITHUB_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Accept", "value": "application/vnd.github+json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"chore: auto-publish SEO post: {{ $json.title }}\",\n  \"content\": \"{{ $json.base64Content }}\"\n}"
      },
      "id": "create-github-file",
      "name": "Create GitHub File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-opus-4-5\",\n  \"max_tokens\": 512,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Write a LinkedIn post (200 words max) promoting this blog article for Malta real estate agents:\\n\\nTitle: {{ $('Parse & Encode').first().json.title }}\\nURL: https://reapa-mvp.vercel.app/blog/{{ $('Parse & Encode').first().json.slug }}\\n\\nMake it engaging, professional, and include relevant hashtags like #MaltaRealEstate #PropTech #AIforAgents\"\n    }\n  ]\n}"
      },
      "id": "generate-social-post",
      "name": "Generate Social Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.RESEND_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"REAPA <hello@reapa.ai>\",\n  \"to\": [\"waitlist@reapa.ai\"],\n  \"subject\": \"New on the REAPA Blog: {{ $('Parse & Encode').first().json.title }}\",\n  \"html\": \"<h2>New article on the REAPA Blog</h2><p><strong>{{ $('Parse & Encode').first().json.title }}</strong></p><p><a href='https://reapa-mvp.vercel.app/blog/{{ $('Parse & Encode').first().json.slug }}'>Read the article →</a></p><hr><p>You're receiving this because you joined the REAPA waitlist. <a href='https://reapa-mvp.vercel.app/unsubscribe'>Unsubscribe</a></p>\"\n}"
      },
      "id": "send-email",
      "name": "Send Email Digest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1340, 400]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Topic Rotator", "type": "main", "index": 0 }]]
    },
    "Topic Rotator": {
      "main": [[{ "node": "Generate Blog Post", "type": "main", "index": 0 }]]
    },
    "Generate Blog Post": {
      "main": [[{ "node": "Parse & Encode", "type": "main", "index": 0 }]]
    },
    "Parse & Encode": {
      "main": [[{ "node": "Create GitHub File", "type": "main", "index": 0 }]]
    },
    "Create GitHub File": {
      "main": [
        [
          { "node": "Generate Social Post", "type": "main", "index": 0 },
          { "node": "Send Email Digest", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1.0.0",
  "id": "reapa-seo-blog-publisher",
  "meta": {
    "instanceId": "reapa"
  }
}
